<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="1.0.0" loadFromBin="false" >
	<assemblies>
	</assemblies>
	<clientResources>
		<add name="styles-maps" path="https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css" resourceType="Style"/>
	</clientResources>
	<dojo>
		<!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
		<paths>
			<add name="BrssMapsEditor" path="BrssMapsEditor" />
		</paths>
	</dojo>
	<clientModule>
		<moduleDependencies>
			<add dependency="CMS" type="RunAfter" />
		</moduleDependencies>
		<requiredResources>
			<add name="styles-maps" />
		</requiredResources>
	</clientModule>
</module>
